.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    border: 1px solid black;
    padding: 40px 20px;
}

.loginText{
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
}

.companyName{
    font-size:30px;
    font-weight: 400;
}

.action{
   font-weight: 400;
}
