.container {
    position: sticky;
    left: 0;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}

.menutable {
    border-inline: none !important;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu svg {
    color: white !important;
}